/* sidekick */

.designsivu-elementor-vertical-menu-container, .elementor-widget-sidekick {
    width: 100%;
    height: 0;
}

.designsivu-elementor-vertical-menu-item {
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.designsivu-elementor-vertical-menu {
    z-index: 9999;
    position: fixed;
    padding: 20px 8px;
}

.designsivu-elementor-vertical-menu-spacing {
    display: inline-block;
    width: 100%;
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-top-left {
    left: 0;
    top: 0;
    transform: translate(0, 0);
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-middle-left {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-bottom-left {
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-top-right {
    right: 0;
    top: 0;
    transform: translate(0, 0);
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-middle-right {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.designsivu-elementor-vertical-menu.designsivu-elementor-vertical-menu-bottom-right {
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
}

/* end sidekick */

/* tilt */

.designsivu-elementor-tilt-image {
    display: inline-block;
}

/* end tilt */

/* blob */

/* items */
.blob-container {
    width: 100%;
}

.blob-wrapper {
    display: inline-block;
}

.item {
    position: relative;
    max-width: 100%;
    margin: 0 0 0 auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-column: span 2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item:nth-of-type(even) {
    margin: 0 auto 0 0;
}

.item:first-of-type {
    grid-column: span 1;
}

.item__svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.item__clippath,
.item__deco,
.item__img {
    transform-origin: 50% 50%;
}

.item__meta {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item__specimen {
    font-size: 5em;
    font-weight: 500;
    line-height: 0.9;
    vertical-align: text-bottom;
    letter-spacing: -0.025em;
}

.item__reference {
    font-size: 1.25em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.item__title {
    font-size: 1.165em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    letter-spacing: 0.125em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.item__subtitle {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.15em;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.blob-wrapper:hover .item__subtitle {
    opacity: 1;
}

@media screen and (max-width: 60em) {
    .item:first-of-type {
        grid-column: span 2;
    }

    .content--grid {
        grid-row-gap: 25vh;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header__title {
        font-size: 1em;
    }

    .content--grid {
        padding: 2vh 8vw;
    }

    .item__number {
        font-size: 0.75em;
    }

    .item__svg {
        min-height: 360px;
    }
}

/* end blob */

/* sideways text */

.designsivu-elementor-sideways {
    position: relative;
    overflow: hidden;
}

.designsivu-elementor-sideways .designsivu-elementor-sideways-text {
    top: 0;
    display: inline-block;
    white-space: nowrap;
}

/* end sideways text */

/* striketrough */

.dse-striketrough-wrapper {
    position: relative;
    z-index: 999;
}

.dse-striketrough {
    position: absolute;
    width: 1px;
    margin-left: 50%;
    top: 0;
}

.dse-striketrough-title-wrapper {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.dse-striketrough-title {
    display: inline-block;
    max-width: 250px;
}

.dse-striketrough:after {
    bottom: -4px;
}

.dse-striketrough:after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: translate(-4px, -4px);
    transform: translate(-4px, -4px);
    -webkit-transition: opacity .15s ease-in .32s;
    transition: opacity .15s ease-in .32s;
    opacity: 1;
}

/* striketrough end */

/* quote */

.dse-quote {
    margin: 0 auto;
    z-index: 2;
    border: none;
    padding: 0;
}

.dse-quote--text {
    position: relative;
}

.dse-quote--text, .dse-quote--text p {
    display: inline;
    line-height: inherit;
}

.dse-quote .dse-quote--mark {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
}

.dse-quote .dse-quote--mark.dse-quote--mark-bottom {
    bottom: -2px;
    right: -84px;
    background-image: url("https://malli.designsivu.fi/agentit/wp-content/themes/agentit/assets/images/quote-right.png");
}

.dse-quote .dse-quote--mark.dse-quote--mark-top {
    top: -6px;
    left: -84px;
    background-image: url("https://malli.designsivu.fi/agentit/wp-content/themes/agentit/assets/images/quote-left.png");
}

@media only screen and (max-width: 1000px) {
    .dse-quote .dse-quote--mark {

    }

    .dse-quote .dse-quote--mark.dse-quote--mark-bottom {
        bottom: -13px;
        right: -70px;
    }

    .dse-quote .dse-quote--mark.dse-quote--mark-top {
        top: -60px;
        left: -5px;
    }
}

/* end quote */

/* employees grid */

.dse-employees {
    font-family: 'Work Sans', Helvetica, sans-serif;
}

.dse-employee--cell {
    padding: 2px;
}

.dse-employee--container {
    position: relative;
}

.dse-employee--main-image, .dse-employee--hover-image {
    object-fit: cover;
    width: 100%;
    transition: opacity 0.2s;
}

.dse-employee--main-image {
    opacity: 1;
}

.dse-employee--hover-image {
    opacity: 0;
}

.dse-employee--container:hover .dse-employee--hover-image {
    opacity: 1;
    transition: opacity 0.4s;
}

.dse-employee--container:hover .dse-employee--main-image {
    opacity: 0;
    transition: opacity 0.4s;
}

.dse-employee--image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dse-employee--images {
    width: 100%;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.dse-employee--info-container {
    height: 190px;
    padding: 20px;
}

.dse-employee--static-info {
    text-align: center;
}

.dse-employee--hover-wrapper {
    position: relative;
}

.dse-employee--unhover-info {
    text-align: center;
    opacity: 1;
    transition: all 0.2s;
}

.dse-employee--hover-info {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.dse-employee--container:hover .dse-employee--hover-info {
    opacity: 1;
    top: 0;
}

.dse-employee--container:hover .dse-employee--unhover-info {
    opacity: 0;
}

.dse-employee--name {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2E3038;
    font-family: 'Work Sans', Helvetica, sans-serif;
}

.dse-employee--quote-wrapper {
    height: 100px;
    text-align: center;
}

.dse-employee--quote {
    color: #999;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Work Sans', Helvetica, sans-serif;
}

.dse-employee--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #a0a0a0;
    opacity: 0.1;
    transition: all 0.4s;
    pointer-events: none;
}

.dse-employee--container:hover .dse-employee--overlay {
    background-color: transparent;
}

.dse-employee--title {
    color: #999;
    font-size: 18px;
    font-family: 'Work Sans', Helvetica, sans-serif;
}

.dse-employee--phone {
    color: #999;
    font-size: 16px;
    font-family: 'Work Sans', Helvetica, sans-serif;
}

.dse-employee--hr {
    margin-bottom: 10px !important;
    background-color: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
}

/* end employees grid */